# =====================================================================
# TEMPLATE: Copy this file to 'airflow.env' and fill in your values.
# =====================================================================

# 1. Set Project Root 
PROJECT_ROOT_RAW=<absolute_path_of_project_root>

# 2. Replace any symbolinc link with an absolute path
export PROJECT_ROOT=$(realpath "$PROJECT_ROOT_RAW")

# 3. Export Airflow Home using the matching path string
export AIRFLOW_HOME="$PROJECT_ROOT/airflow_home"

# 4. Export Airflow Minimal Valid Scan Date for Catchup & Backfill
export AIRFLOW_DAG_START_DATE="2026-04-01"