# --- Core Airflow Platform ---
apache-airflow==2.10.5

# --- Required Providers for Your Architecture ---
# Needed for the BashOperator used in your DAG to call the ETL script
apache-airflow-providers-standard==1.0.0

# Optional: Add if you want to use the PostgreSQL or MongoDB operators/hooks directly in Airflow later
# apache-airflow-providers-postgres
# apache-airflow-providers-mongo



# Old lines
# Airflow requires Python 3.8-3.11 for version 2.9.x
# apache-airflow
# apache-airflow-providers-standard